*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.topper {
    width: 100%;
    height: 10rem;
    background: rgb(90, 90, 90);
    display: flex;
    align-items: center ;
    justify-content: center;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}

.content-b {
    width: 100%;
    height: 25rem;
    background: yellow;
    display: flex;
}

.content-b > div {
    flex: 1;
    display: flex;
    justify-content: center;
    font-weight: 800;
    font-size: 1.5rem;
}

.content-b > div:nth-child(1) {
    background: orange;
}

.content-b > div:nth-child(2) {
    background: white;
}

.content-b > div:nth-child(3) {
    background: blue;
    border-right: 1px solid black;
}

.content-b > div:nth-child(4) {
    background: blue;
}

.content-c {
    width: 100%;
    height: 15rem;
    background: gray;
    display: flex;
}

.content-c > .content-e {
    flex: 4;
    display: grid;
    place-items: center;
    color: white;
    border: 1px solid white
}

.content-c > .content-f {
    flex: 2;
    display: grid;
    place-items: start;
    color: white;
    border: 1px solid white;
    font-size: 1.4rem;
    padding: 2rem
}

.content-c > .content-cg {
    flex: 1;
    display: grid;
    place-items: start;
    color: white;
    border: 1px solid white;
    font-size: 1.4rem;
    padding: 2rem
}

.content-d {
    width: 100%;
    height: 10rem;
    background: blue;
    display: flex;

}

.content-d > .content-1 {
    flex: 4;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: white;
    font-size: 1.5rem;
    padding: 2rem;
    border-right: 1px solid white;
}

.content-d > .content-2 {
    flex: 1;
    color: white;
    font-size: 1.5rem;
    padding: 2rem;
}

.content-e {
    width: 100%;
    height: 15rem;
    background: green;
    display: grid;
    place-content: center;
    color: white;
}
